<template>
  <ContentSidebar mobile-reverse>
    <HelpSidebarContainer
      slot="sidebar"
      v-if="store.content[0].sidebar"
    >
      <HelpSidebar
        slot-scope="{ onClickItem }"
        :on-click-item="onClickItem"
        v-bind="store.content[0].sidebar"
      />
    </HelpSidebarContainer>
    <HelpCategoryContainer v-if="store.content[0]">
      <HelpCategory
        slot-scope="{ onClickItem }"
        :on-click-item="onClickItem"
        v-bind="store.content[0].content"
      />
    </HelpCategoryContainer>
  </ContentSidebar>
</template>

<script>
import {
  ContentSidebar,
  HelpSidebar,
  HelpCategory,
} from '@dunia/ui';
import containerManager from '../../../services/containers-manager';
import fetch from '../../../mixins/fetch';

export default {
  components: {
    ContentSidebar,
    HelpSidebar,
    HelpCategory,
    HelpCategoryContainer: containerManager('HelpCategory'),
    HelpSidebarContainer: containerManager('HelpSidebar'),
  },

  mixins: [fetch({ forceHideBottomBar: true })],

  computed: {
    store() {
      const { category } = this.$route.params;
      return this.$store.state.help.categories[category];
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-5S96GRZ');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);
  },
  methods: {
    containerManager,
  },
};
</script>
