<template>
  <Dot ref="loader" />
</template>

<script>
import { Dot } from '@dunia/ui';

export default {
  components: {
    Dot,
  },
  methods: {
    start() {
      this.$refs.loader.start();
    },
    finish() {
      this.$refs.loader.finish();
    },
  },
};
</script>
