<template>
  <div>
    <ProductHeroContainer v-if="store.productHero">
      <ProductHero
        slot-scope="{ onClick }"
        :on-click="onClick"
        v-bind="store.productHero"
      />
    </ProductHeroContainer>

    <template v-for="(module, index) in store.content">
      <component
        :key="index"
        :is="containerManager(module.type)"
      >
        <component
          slot-scope="slotProps"
          :is="module.type"
          v-bind="{ ...module.data, ...slotProps }"
        />
      </component>
    </template>
  </div>
</template>

<script>
import {
  ProductHero,
  Benefits,
  Features,
  Nbc,
  RelatedProducts,
  Faqs,
} from '@dunia/ui';
import containerManager from '../../services/containers-manager';
import fetch from '../../mixins/fetch';

export default {
  components: {
    ProductHero,
    Benefits,
    Features,
    RelatedProducts,
    Faqs,
    Nbc,
    ProductHeroContainer: containerManager('ProductHero'),
  },

  mixins: [fetch()],

  computed: {
    store() {
      const { protect} = this.$route.params;
      return this.$store.state.protects[protect];
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-NZQ9RL5');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);
  },
  methods: {
    containerManager,
  },
};
</script>
