<template>
  <Content>
    <HelpCategoriesContainer v-if="store.helpCategories">
      <HelpCategories
        slot-scope="{ onClick }"
        :items="store.helpCategories.items"
        :on-click="onClick"
        :see-all-anchor="store.helpCategories.seeAllAnchor"
      />
    </HelpCategoriesContainer>
    <Promo
      v-if="store.promo"
      :legend="store.promo.legend"
      :background-color="store.promo['background-color']"
      :background-image="store.promo['background-image']"
      :title="store.promo.title"
      :text="store.promo.text"
    />
    <HighlightedArticlesContainer v-if="store.highlightedArticles">
      <HighlightedArticles
        slot-scope="{ onClick }"
        :legend="store.highlightedArticles.legend"
        :links="store.highlightedArticles.links"
        :on-click="onClick"
      />
    </HighlightedArticlesContainer>
  </Content>
</template>

<script>
import {
  Content,
  HelpCategories,
  Promo,
  HighlightedArticles,
} from '@dunia/ui';
import containerManager from '../../services/containers-manager';
import fetch from '../../mixins/fetch';

export default {
  components: {
    Content,
    HelpCategories,
    Promo,
    HighlightedArticles,
    HighlightedArticlesContainer: containerManager('HighlightedArticles'),
    HelpCategoriesContainer: containerManager('HelpCategories'),
  },

  mixins: [fetch({ forceHideBottomBar: true })],

  computed: {
    store() {
      return this.$store.state.help;
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-5S96GRZ');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);
  },
  methods: {
    containerManager,
  },
  head() {
    return {
      title: 'Easy Way to Apply For Credit Cards  | Deem',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Deem offers you simple and smart solutions that you can trust to help you achieve your dream of a bright financial future. '
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'Deem help , financial help provider'
        }
      ],
      link: [{ rel: 'canonical', href: 'https://deem.io/help' }]
    };
  }
};
</script>
