<template>
  <Page
    :is-nav-visible="isNavVisible"
    :is-bottom-bar-visible="isBottomBarVisible"
    :scrolled-handler="scrolledHandler"
    :header-context="headerContext"
  >
    <template slot="brand">
      <nuxt-link to="/">
        <Logo grow />
      </nuxt-link>
    </template>

    <template slot="nav">
      <Menu :links="menuLinks">
        <nuxt-link
          slot-scope="{ item }"
          :to="item.href"
        >
          <span>
            {{ item.anchor }}
          </span>
        </nuxt-link>
      </Menu>
    </template>

    <template slot="login">
      <Button
        size="bg-sm"
        color="hollow"
        type="link"
        :href="login.href"
        width="auto"
        target="_blank"
      >
        {{ login.anchor }}
      </Button>
    </template>

    <template slot="hamburger">
      <Hamburger
        :is-cross="isNavVisible"
        @click.native="switchNav"
      />
    </template>

    <nuxt />

    <template
      slot="bottom-bar"
      v-if="!forceHideBottomBar"
    >
      <BottombarContainer>
        <Bottombar
          slot-scope="{ onButtonClick }"
          :on-button-click="onButtonClick()"
          v-bind="bottomBar"
        />
      </BottombarContainer>
    </template>

    <template slot="footer">
      <FooterContainer>
        <Footer
          :links="footer.links"
          :socials-title="footer.socialsTitle"
          :socials="footer.socials"
          :colophon="footer.colophon"
        >
          <div v-html="footer.content" />

          <template
            slot="links-item"
            slot-scope="{ item }"
          >
            <nuxt-link :to="item.href">
              <span>
                {{ item.anchor }}
              </span>
            </nuxt-link>
          </template>

          <template
            slot="socials-item"
            slot-scope="{ item }"
          >
            <a
              :href="item.href"
              target="_blank"
            >
              <span>
                {{ item.anchor }}
              </span>
            </a>
          </template>
        </Footer>
      </FooterContainer>
    </template>
  </Page>
</template>

<script>
import {
  Page,
  Logo,
  Menu,
  Button,
  Hamburger,
  Bottombar,
  Footer,
} from '@dunia/ui';

import BottombarContainer from '../containers/bottombar';
import FooterContainer from '../containers/footer';
import LayoutActions from '../mixins/layout-actions.js';

export default {
  components: {
    Page,
    Logo,
    Menu,
    Button,
    Hamburger,
    Bottombar,
    BottombarContainer,
    FooterContainer,
    Footer,
  },
  mixins: [LayoutActions],
  computed: {
    menuLinks() {
      return this.$store.state.layout.menu.links;
    },
    login() {
      return this.$store.state.layout.login;
    },
    bottomBar() {
      return this.$store.state.layout.bottomBar;
    },
    footer() {
      return this.$store.state.layout.footer;
    },
    headerContext() {
      return this.$store.state.layout.header.background;
    },
    forceHideBottomBar() {
      return this.$store.state.layout.bottomBar.forceHide;
    },
    // True if there's no request of hiding the bottom bar
    isBottomBarVisible() {
      const isVisible = !this.isFirstLoad && this.bottomBar.hideRequest.length === 0;
      return isVisible;
    },
  },
  methods: {
    // This overrides Page's `scrolledHandler` method
    scrolledHandler(isScrolled) {
      const action = isScrolled
        ? 'show-bottom-bar'
        : 'hide-bottom-bar';

      if (isScrolled) {
        this.isFirstLoad = false;
      }

      this.dispatchLayoutAction(action, this._uid);
    },
    hideNav() {
      this.isNavVisible = false;
    },
    switchNav() {
      this.isNavVisible = !this.isNavVisible;
    },
    disableDarkContext() {
      const { commit } = this.$store;
      commit('layout/setHeaderBackground', '');
    },
    resetPage() {
      this.hideNav();
      this.disableDarkContext();
    },
  },
  head() {
    return {
      title: this.$store.state.settings.title,
      meta: [
        { hid: 'description', name: 'description', content: this.$store.state.settings.description },
        { hid: 'keywords', name: 'keywords', content: this.$store.state.settings.keywords },
        { hid: 'format-detection', name: 'format-detection', content: 'telephone=no' },
        { hid: 'msapplication-TileColor', name: 'msapplication-TileColor', content: '#603cba' },
        { hid: 'msapplication-config', name: 'msapplication-config', content: 'images/favicon/browserconfig.xml' },
        { hid: 'theme-color', name: 'theme-color', content: '#ffffff' },
      ],
      link: [
        { rel: 'icon', href: 'images/favicon/android-chrome-192x192' },
        { rel: 'icon', href: 'images/favicon/android-chrome-512x512.png' },
        { rel: 'apple-touch-icon', href: 'images/favicon/apple-touch-icon.png' },
        { rel: 'icon', href: 'images/favicon/favicon-16x16.png' },
        { rel: 'icon', href: 'images/favicon/favicon-32x32.png' },
        { rel: 'shortcut', href: 'images/favicon/favicon.ico' },
        { rel: 'icon', href: 'images/favicon/mstile-70x70.png' },
        { rel: 'icon', href: 'images/favicon/mstile-144x144.png' },
        { rel: 'icon', href: 'images/favicon/mstile-150x150.png' },
        { rel: 'icon', href: 'images/favicon/mstile-310x150.png' },
        { rel: 'icon', href: 'images/favicon/mstile-310x310.png' },
        { rel: 'mask-icon', href: 'images/favicon/safari-pinned-tab.svg', color: '#000000' },
        { rel: 'manifest', href: 'images/favicon/site.webmanifest' },
      ],
      bodyAttrs: {
        'data-is-nav-visible': (this.isNavVisible) ? 'true' : 'false',
      },
    };
  },
  data() {
    return {
      isNavVisible: false,
      isFirstLoad: true,
    };
  },
  watch: {
    $route(oldRoute, newRoute) {
      if (oldRoute !== newRoute) {
        this.resetPage();
      }
    },
  },
};
</script>
