<template>
  <Page
    :is-nav-visible="false"
    :is-bottom-bar-visible="false"
  >
    <template slot="brand">
      <nuxt-link to="/">
        <Logo grow />
      </nuxt-link>
    </template>

    <nuxt />
  </Page>
</template>

<script>
import {
  Page,
  Logo,
} from '@dunia/ui';

export default {
  components: {
    Page,
    Logo,
  },
};
</script>
