<template>
  <Wrapper>
    <Error
      :message="errorMessage"
      code="..."
    >
      <Button
        slot="actions"
        type="link"
        href="/"
      >
        Back to Home
      </Button>
    </Error>
  </Wrapper>
</template>
<script>

import {
  Error,
  Button,
  Wrapper,
} from '@dunia/ui';

export default {
  props: {
    error: {
      type: Object,
    },
  },
  layout: 'empty',
  components: {
    Error,
    Button,
    Wrapper,
  },

  computed: {
    errorMessage() {
      return (this.$props.error.statusCode === 404)
        ? 'Oops 404!! 🤷🏽‍<br> The page is gone'
        : 'An error occurred';
    },
  },
};
</script>
