<template>
  <Content>
    <template v-for="(module, index) in store.content">
      <component
        :blog-title="blogTitle"
        :mail-subject="mailSubject"
        :mail-body="mailBody"
        :twitter-text="twitterText"
        :is="containerManager(module.type)"
        :key="index"
      >
        <component
          slot-scope="slotProps"
          :is="module.type"
          v-bind="{ ...module.data, ...slotProps }"
        />
      </component>
    </template>
  </Content>
</template>

<script>
import {
  Content,
  BlogPost,
  Promo,
  FurtherReading,
} from '@dunia/ui';
import containerManager from '../../services/containers-manager';
import fetch from '../../mixins/fetch';

export default {
  components: {
    Content,
    BlogPost,
    Promo,
    FurtherReading,
  },

  mixins: [fetch({ forceHideBottomBar: true })],

  computed: {
    store() {
      const { post } = this.$route.params;
      return this.$store.state.blog[post];
    },

    blogTitle() {
      const { post } = this.$route.params;
      return this.$store.state.blog[post].content[0].data.title;
    },

    mailSubject() {
      const { post } = this.$route.params;
      return (this.$store.state.blog[post].content[0].data.mail) ? this.$store.state.blog[post].content[0].data.mail.subject : '';
    },

    mailBody() {
      const { post } = this.$route.params;
      return (this.$store.state.blog[post].content[0].data.mail) ? this.$store.state.blog[post].content[0].data.mail.body : '';
    },

    twitterText() {
      const { post } = this.$route.params;
      return this.$store.state.blog[post].content[0].data.twitterText;
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-5S96GRZ');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);
  },
  methods: {
    containerManager,
  },
  head() {
    return {
      title: "Be Financially Informed | Financial Advice | Deem Blog",
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            "We at Deem hope to cater to all your financial concerns and aim to guide you on your path to financial freedom."
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'finance blogs , financial advice'
        }
      ],
      link: [{ rel: 'canonical', href: 'https://deem.io/blog' }]
    };
  }
};
</script>
