<template>
  <div>
    <Spy>
      <div
        v-for="(module, index) in contentInSpy"
        :key="index"
        :title="module.data.legend"
      >
        <component :is="containerManager(module.type)">
          <component
            slot-scope="slotProps"
            :is="module.type"
            v-bind="{ ...module.data, ...slotProps }"
          />
        </component>
      </div>
    </Spy>
    <template v-for="(module, index) in contentNotInSpy">
      <component
        :key="index"
        :is="containerManager(module.type, module.instance)"
      >
        <component
          slot-scope="slotProps"
          :is="module.type"
          v-bind="{ ...module.data, ...slotProps }"
        />
      </component>
    </template>
  </div>
</template>

<script>
import {
  Spy,
  Team,
  Shareholders,
  Promo,
  CorporativeHeader,
} from '@dunia/ui';
import containerManager from '../services/containers-manager';
import fetch from '../mixins/fetch';

export default {
  components: {
    Spy,
    Team,
    Shareholders,
    Promo,
    CorporativeHeader,
  },

  mixins: [fetch({ forceHideBottomBar: true })],

  computed: {
    contentInSpy() {
      return this.$store.state.company.content.filter(module => !!module.spy);
    },
    contentNotInSpy() {
      return this.$store.state.company.content.filter(module => !module.spy);
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-5S96GRZ');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);
  },
  methods: {
    containerManager,
  },
  head() {
    return {
      title: "About Deem | Your Go To Financial Services Provider & Advisor",
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            "Deem offers you simple and smart solutions that you can trust to help you achieve your dream of a bright financial future. "
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'about deem , financial services provider'
        }
      ],
      link: [{ rel: 'canonical', href: 'https://deem.io/company' }]
    };
  }
};
</script>
