<template>
  <div>
    <MainHeroContainer v-if="store.mainHero">
      <MainHero
        slot-scope="{ onClick, onChange }"
        :on-click="onClick"
        :on-change="onChange"
        v-bind="store.mainHero"
      />
    </MainHeroContainer>

    <template v-for="(module, index) in store.content">
      <component
        :key="index"
        :is="containerManager(module.type)"
      >
        <component
          slot-scope="slotProps"
          :is="module.type"
          v-bind="{ ...module.data, ...slotProps }"
        />
      </component>
    </template>
  </div>
</template>
<script>
import {
  MainHero,
  Promo,
  BrandValues,
  Nbc,
  TextPicture,
  LatestStories,
  CreditcardTypes,
} from '@dunia/ui';

import containerManager from '../services/containers-manager';
import fetch from '../mixins/fetch';
import setGATrackingCookie from '../helpers/set-gaTracking-cookie';

export default {
  components: {
    MainHero,
    Promo,
    BrandValues,
    Nbc,
    TextPicture,
    LatestStories,
    CreditcardTypes,
    MainHeroContainer: containerManager('MainHero'),
  },

  mixins: [fetch()],

  computed: {
    store() {
      return this.$store.state.home;
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-5S96GRZ');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);

    setGATrackingCookie(); // set GA Cookie
  },
  methods: {
    containerManager,
  },
};
</script>
