<template>
  <div>
    <MainHeroContainer v-show="store.mainHero">
      <MainHero
        slot-scope="{ onClick, onChange }"
        :on-click="onClick"
        :on-change="onChange"
        v-bind="store.mainHero"
      />
    </MainHeroContainer>

    <template v-for="(module, index) in store.content">
      <component
        :key="index"
        :is="containerManager(module.type)"
      >
        <component
          slot-scope="slotProps"
          :is="module.type"
          v-bind="{ ...module.data, ...slotProps }"
        />
      </component>
    </template>
  </div>
</template>

<script>
import {
  MainHero,
  Spy,
  Team,
  Shareholders,
  Promo,
  CorporativeHeader,
  Nbc,
  Benefits,
  CardComparative,
  Faqs,
  Cards,
} from '@dunia/ui';
import containerManager from '../services/containers-manager';
import fetch from '../mixins/fetch';

export default {
  components: {
    MainHero,
    Spy,
    Team,
    Shareholders,
    Promo,
    CorporativeHeader,
    Nbc,
    Benefits,
    CardComparative,
    Faqs,
    Cards,
    MainHeroContainer: containerManager('MainHero'), 
  },

  mixins: [fetch({ forceHideBottomBar: true })],

  computed: {
   store() {
      	    return this.$store.state.referral;
         },

  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-5S96GRZ');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);

    setGATrackingCookie(); // set GA Cookie
  },
  methods: {
    containerManager,
  },
};
</script>
