<template>
  <div>
    <Spy>
      <div
        v-for="(module, index) in store.content"
        :key="index"
        :title="module.data.legend"
      >
        <component :is="containerManager(module.type)">
          <component
            slot-scope="slotProps"
            :is="module.type"
            v-bind="{ ...module.data, ...slotProps }"
          />
        </component>
      </div>
    </Spy>
  </div>
</template>

<script>
import {
  Spy,
  PlainText,
} from '@dunia/ui';
import containerManager from '../services/containers-manager';
import fetch from '../mixins/fetch';

export default {
  components: {
    Spy,
    PlainText,
  },

  mixins: [fetch({ forceHideBottomBar: true })],

  computed: {
    store() {
      return this.$store.state.titaniummilesupterms;
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-NZQ9RL5');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);
  },
  methods: {
    containerManager,
  },
  head() {
    return {
      title: "Deem | Smart Financial Solutions at Your Fingertips",
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            "We at Deem hope to cater to all your financial concerns and aim to guide you on your path to financial freedom."
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'Titanium Miles Up terms, Credit Card offers in uae'
        }
      ],
      link: [{ rel: 'canonical', href: 'https://deem.io/titaniummilesupterms' }]
    };
  }
};
</script>
