<template>
  <div>
    <ProductHeroContainer v-if="store.productHero">
      <ProductHero
        slot-scope="{ onClick }"
        :on-click="onClick"
        v-bind="store.productHero"
      />
    </ProductHeroContainer>

    <template v-for="(module, index) in store.content">
      <component
        :key="index"
        :is="containerManager(module.type)"
      >
        <component
          slot-scope="slotProps"
          :is="module.type"
          v-bind="{ ...module.data, ...slotProps }"
        />
      </component>
    </template>
  </div>
</template>

<script>
import {
  ProductHero,
  Benefits,
  Features,
  Nbc,
  RelatedProducts,
  Faqs,
} from '@dunia/ui';
import containerManager from '../../services/containers-manager';
import fetch from '../../mixins/fetch';

export default {
  components: {
    ProductHero,
    Benefits,
    Features,
    RelatedProducts,
    Faqs,
    Nbc,
    ProductHeroContainer: containerManager('ProductHero'),
  },

  mixins: [fetch()],

  computed: {
    store() {
      const { corporate } = this.$route.params;
      return this.$store.state.corporate[corporate];
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-5S96GRZ');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);
  },
  methods: {
    containerManager,
  },
  head() {
     const { corporate } = this.$route.params;
     var title = null,
     description = null,
     keyword = null;
     var canonical= 'https://deem.io/corporate/'+corporate;
     if (corporate == 'high-yield-deposit') {
      title = 'Invest Smart | High Yield Deposit & Savings Accounts | Deem';
      keyword =
        'high yield savings account,high interest deposit account';
      description =
        'Invest with Deem and earn attractive interest rates with our high yield investment solutions. ';
    } else if (corporate == 'corporate-deposit') {
      title = 'Save Your Deposit with Attractive Rates | Deem';
      keyword =
        'corporate deposits,corporate deposit in uae,mazimize returns on your business savings';
      description =
        'Save with our corporate deposits and earn higher interest rates than an ordinary current account';
    } else if (corporate == 'financial-guarantees') {
      title = 'Financial Guarantee Insurance | Deem Corporate Solutions';
      keyword =
        'financial guarantee,financial guarantee insurance,secure financial provider';
      description =
        'Maximize returns on your business savings with the financial guarantee through deem.';
    } else if (corporate == 'payroll-solutions') {
      title = 'Get the Best Payroll Solutions | Deem';
      keyword =
        'payroll solutions, payroll solutions in uae, cost effective way to pay employee wages';
      description =
        'Keep employees motivated and satisfied by streamling your payroll process with our Wages Protection System (WPS).';
    } else{
      title = 'Cards | Deem';
      keyword = 'Cards';
      description = 'Cards';
    }
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description },
        { hid: 'keywords', name: 'keywords', content: keyword },
        { hid: 'format-detection', name: 'format-detection', content: 'telephone=no' },
        { hid: 'msapplication-TileColor', name: 'msapplication-TileColor', content: '#603cba' },
        { hid: 'msapplication-config', name: 'msapplication-config', content: '../images/favicon/browserconfig.xml' },
        { hid: 'theme-color', name: 'theme-color', content: '#ffffff' },
      ],
      link: [
	{ rel: "canonical", href:canonical  },
        { rel: 'icon', href: '../images/favicon/android-chrome-192x192' },
        { rel: 'icon', href: '../images/favicon/android-chrome-512x512.png' },
        { rel: 'apple-touch-icon', href: '../images/favicon/apple-touch-icon.png' },
        { rel: 'icon', href: '../images/favicon/favicon-16x16.png' },
        { rel: 'icon', href: '../images/favicon/favicon-32x32.png' },
        { rel: 'shortcut', href: '../images/favicon/favicon.ico' },
        { rel: 'icon', href: '../images/favicon/mstile-70x70.png' },
        { rel: 'icon', href: '../images/favicon/mstile-144x144.png' },
        { rel: 'icon', href: '../images/favicon/mstile-150x150.png' },
        { rel: 'icon', href: '../images/favicon/mstile-310x150.png' },
        { rel: 'icon', href: '../images/favicon/mstile-310x310.png' },
        { rel: 'mask-icon', href: '../images/favicon/safari-pinned-tab.svg', color: '#000000' },
        { rel: 'manifest', href: '../images/favicon/site.webmanifest' },
      ]
    };
  }
};
</script>
