<template>
  <div>
    <ProductHeroContainer v-if="store.productHero">
      <ProductHero
        slot-scope="{ onClick }"
        :on-click="onClick"
        v-bind="store.productHero"
      />
    </ProductHeroContainer>

    <template v-for="(module, index) in store.content">
      <component
        :key="index"
        :is="containerManager(module.type)"
      >
        <component
          slot-scope="slotProps"
          :is="module.type"
          v-bind="{ ...module.data, ...slotProps }"
        />
      </component>
    </template>
  </div>
</template>

<script>
import {
  ProductHero,
  Benefits,
  CardComparative,
  Features,
  Nbc,
  RelatedProducts,
  Faqs,
  ColumnItems,
  TextPicture,
  Cards,
} from '@dunia/ui';
import containerManager from '../../services/containers-manager';
import fetch from '../../mixins/fetch';

export default {
  components: {
    ProductHero,
    Benefits,
    CardComparative,
    Features,
    RelatedProducts,
    Faqs,
    Nbc,
    ColumnItems,
    TextPicture,
    Cards,
    ProductHeroContainer: containerManager('ProductHero'),
  },

  mixins: [fetch()],

  computed: {
    store() {
      const { card } = this.$route.params;
      return this.$store.state.cards[card];
    },
  },
  mounted() {
    const recaptchaScript = document.createElement('script');
    recaptchaScript.setAttribute('src', 'https://nebula-cdn.kampyle.com/we/312925/onsite/embed.js');
    document.head.appendChild(recaptchaScript);

    const googleTagManagerNoScriptTag = document.createElement('noscript');
    const googleTagManagerIframeTag = document.createElement('iframe');
    googleTagManagerIframeTag.setAttribute('src', 'https://www.googletagmanager.com/ns.html?id=GTM-5S96GRZ');
    googleTagManagerIframeTag.setAttribute('height', '0');
    googleTagManagerIframeTag.setAttribute('width', '0');
    googleTagManagerIframeTag.setAttribute('style', 'display:none;visibility:hidden');
    googleTagManagerNoScriptTag.appendChild(googleTagManagerIframeTag);
    document.body.appendChild(googleTagManagerNoScriptTag);
  },
  methods: {
    containerManager,
  },
  head() {
     const { card } = this.$route.params;
     var title = null,
     description = null,
     keyword = null;
     var canonical= 'https://deem.io/cards/'+card;
     if (card == 'cash-up') {
      title = 'Cash Up | The Best Cashback Credit Card in the UAE | Deem';
      keyword =
        'cashback credit card,credit cards in uae,best cashback credit card';
      description =
        'Get your Cash Up with the best cashback credit in the UAE. Earn up to 10% Cash Up points when you spend, and redeem it for your next purchase.';
    } else if (card == 'miles-up') {
      title = 'Miles Up | Travel Credit Card For Smart Travellers | Deem';
      keyword = 'travel card, travel credit card,air miles credit card';
      description =
        'Get your Miles Up with the best air miles credit card in the UAE. Earn when you spend or fly, and use it at your leisure.';
    } else if (card == 'titanium-cash-up') {
      title = 'Cash Up | The Best Cashback Credit Card in the UAE | Deem';
      keyword = 'Titanium Cash Up,  cashback credit card  in uae,Cashback on your everyday spend';
      description =
        'Cash Up on things you love to spend on, be it flight hotels, shopping groceries and more';
    } else if (card == 'platinum-cash-up') {
      title = 'Cash Up | The Best Cashback Credit Card in the UAE | Deem';
      keyword = 'Platinum Cash Up,  cashback credit card  in uae,get cashback when you shop for things you love';
      description =
         'Cash Up on things you love to spend on, be it flight hotels, shopping groceries and more';
    } else if (card == 'world-cash-up') {
      title = 'Cash Up | The Best Cashback Credit Card in the UAE | Deem';
      keyword = 'World Cash Up,  cashback credit card  in uae,Cashback when you spend on air tickets';
      description =
         'Cash Up on things you love to spend on, be it flight hotels, shopping groceries and more';
    } else if (card == 'titanium-miles-up') {
      title = 'Miles Up | Travel Credit Card For Smart Travellers | Deem';
      keyword = 'Titanium Miles Up , travel credit card, earn points on travel and daily needs';
      description =
        'Earn accelerated Miles Up when you spend on ticket airles, hotel bookings, entertaiments, fashion and everday spend like groceries';
    }else if (card == 'platinum-miles-up') {
      title = 'Miles Up | Travel Credit Card For Smart Travellers | Deem';
      keyword = 'Platinum Miles Up , travel credit card, earn points when you travel and shop for things you love.';
      description =
        'Earn accelerated Miles Up when you spend on ticket airles, hotel bookings, entertaiments, fashion and everday spend like groceries';
    }else if (card == 'world-miles-up') {
      title = 'Miles Up | Travel Credit Card For Smart Travellers | Deem';
      keyword = 'World Miles Up , travel credit card, earn points on airline ticket purchases and hotel reservations';
      description =
        'Earn accelerated Miles Up when you spend on ticket airles, hotel bookings, entertaiments, fashion and everday spend like groceries';
    } else if (card == 'cash-up-offer') {
      title = 'Cash Up | The Best Cashback Credit Card in the UAE | Deem';
      keyword = 'cashback credit card , credit cards in uae, best cashback credit card';
      description =
        'Get your Cash Up with the best cashback credit in the UAE. Earn up to 10% Cash Up points when you spend, and redeem it for your next purchase.';
    } else if (card == 'miles-up-offer') {
      title = 'Miles Up | Travel Credit Card For Smart Travellers | Deem';
      keyword = 'travel card,  travel credit card, air miles credit card';
      description =
        'Get your Miles Up with the best air miles credit card in the UAE. Earn when you spend or fly, and use it at your leisure.';
    } else{
      title = 'Cards | Deem';
      keyword = 'Cards';
      description = 'Cards';
    }
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description },
        { hid: 'keywords', name: 'keywords', content: keyword },
        { hid: 'format-detection', name: 'format-detection', content: 'telephone=no' },
        { hid: 'msapplication-TileColor', name: 'msapplication-TileColor', content: '#603cba' },
        { hid: 'msapplication-config', name: 'msapplication-config', content: '../images/favicon/browserconfig.xml' },
        { hid: 'theme-color', name: 'theme-color', content: '#ffffff' },
      ],
      link: [
	{ rel: "canonical", href:canonical  },
        { rel: 'icon', href: '../images/favicon/android-chrome-192x192' },
        { rel: 'icon', href: '../images/favicon/android-chrome-512x512.png' },
        { rel: 'apple-touch-icon', href: '../images/favicon/apple-touch-icon.png' },
        { rel: 'icon', href: '../images/favicon/favicon-16x16.png' },
        { rel: 'icon', href: '../images/favicon/favicon-32x32.png' },
        { rel: 'shortcut', href: '../images/favicon/favicon.ico' },
        { rel: 'icon', href: '../images/favicon/mstile-70x70.png' },
        { rel: 'icon', href: '../images/favicon/mstile-144x144.png' },
        { rel: 'icon', href: '../images/favicon/mstile-150x150.png' },
        { rel: 'icon', href: '../images/favicon/mstile-310x150.png' },
        { rel: 'icon', href: '../images/favicon/mstile-310x310.png' },
        { rel: 'mask-icon', href: '../images/favicon/safari-pinned-tab.svg', color: '#000000' },
        { rel: 'manifest', href: '../images/favicon/site.webmanifest' },
      ]
    };
  }
};
</script>
